td{padding:3px;}
.t13 {
	font-size: 14px;
	font-style: normal;
	color: #333;
	font-weight: bold;
}
.t13-b {
	font-size: 14px;
	font-style: normal;
	color: #333;
	font-weight: bold;
}

.t18 {
	font-size: 12px;
	font-style: normal;
	color: #F00;
	font-weight: normal;
	line-height: 20px;
}

.t23 {
	font-size: 14px;
	font-style: normal;
	color: #333;
	font-weight: bold;
	padding-left: 30px;
}
.t233 {
	font-size: 14px;
	font-style: normal;
	color: #FFF;
	font-weight: bold;
	padding-left: 30px;
}


.t14 {
	font-size: 14px;
	font-style: normal;
	color: #F30;
	font-weight: bold;
}
.b14 {
	background-image: url(../images/button_1_1.png);
	height: 30px;
	width: 84px;
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
	margin: 0px;
	padding: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.b99 {
	background-image: url(../images/button_4_1.png);
	height: 19px;
	width: 32px;
	font-size: 12px;
	font-weight: normal;
	color: #333;
	margin: 0px;
	padding: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

.b24 {
	background-image: url(../images/button_2_1.png);
	height: 31px;
	width: 108px;
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
	margin: 0px;
	padding: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.b34 {
	background-image: url(../images/button_3_1.png);
	height: 31px;
	width: 108px;
	font-size: 14px;
	font-weight: bold;
	color: #333;
	margin: 0px;
	padding: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}


.t15 {
	font-size: 12px;
	color: #5d5d5d;
}
.t25 {
	font-size: 12px;
	color: #5d5d5d;
	padding-left: 30px;
	line-height: 25px;
}

.t00 {
	font-size: 12px;
	color: #6b6768;
}
.t01 {
	font-size: 12px;
	color: #5d5d5d;
}

.t00 a {
	font-size: 12px;
	color: #0257cc;
	text-decoration: underline;
}
.t01 a {
	font-size: 12px;
	color: #000;
	text-decoration: none;
}



.t16 {
	font-size: 12px;
	color: #b2405a;
	background-color: #f7ebed;
	border: 1px solid #b2405a;
	padding: 5px;
}
.b13 {
	border: 1px solid #759dbc;
	padding: 4px;
	background-color:#f4f4f4;
}


.tb13 {
	padding: 0px;
	width: 887px;
	border: 1px solid #999;
	clear: both;
	clip: rect(auto,auto,auto,auto);
}
.tb13-b {
	margin: 10px;
	padding: 5px;
	width: 200px;
	border: 1px solid #b33b57;
	clear: both;
	clip: rect(auto,auto,auto,auto);
	background-color: #ffecf2;
	float: right;
}
.tb13-c {
	margin: 10px;
	padding: 5px;
	width: 90%;
	border: 1px solid #cdeaf9;
	clear: both;
	clip: rect(auto,auto,auto,auto);
	background-color: #FFF;
}
.tb13-c td{padding:5px 15px;}



.tb43 {
	background-color: #f0f5f9;
	padding: 5px;
	width: 861px;
	border: 1px solid #cceaf9;
	margin-top: 1px;
	margin-right: 13px;
	margin-bottom: 10px;
	margin-left:13px;
	margin: auto 0px;
}

.tb23 {
	padding: 5px;
	width: 800px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: dotted;
	border-left-style: none;
	border-bottom-color: #999;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 10px;
}
.tb33 {
	padding: 5px;
	
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: dotted;
	border-left-style: none;
	border-bottom-color: #999;
	margin: 0px;
}
.tb333 {
	padding: 0px;
	width: 240px;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: dotted;
	border-left-style: solid;
	border-bottom-color: #999;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 6px;
	border-left-color: #999;
	border-right-color: #999;
}
.tb444 {
	padding: 0px;
	width: 734px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 6px;
	border: 1px solid #dddddd;
}
.t55 {
	font-size: 14px;
	font-weight: bold;
	color: #fe7e00;
}
.t66 {
	font-size: 20px;
	font-weight: bold;
	color: #da0000;
}

.t17
{	
	font-size: 12px;
	color: #b2405a;
	background-color: #f7ebed;
	border: 1px solid #b2405a;
	padding: 2px;
}
.t02
{
	font-size: 12px;
	color: #555;
	font-weight:bold;
}
.AddMbrcst
{
	width:92px;
	height:30px;
	border-style:none;
	background:url(http://images.d1.com.cn/BuyImages/Add_Mbrcst.jpg);
}

.SaveMbrcst
{
	width:92px;
	height:30px;
	border-style:none;
	background:url(http://images.d1.com.cn/BuyImages/SaveMbrcst.jpg);
	cursor:pointer;
}

.GdsListHeadRow td
{
	background-color:#f0f5f9;
	font-size: 12px;
	color: #111;
	text-align:center;
	font-weight:bold;
}

.GdsListItemRow td
{
	background-color:#fff;
	font-size: 12px;
	color: #333;
	padding: 14px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: dotted;
	border-left-style: none;
	border-bottom-color: #999;
}

.GdsListItemRow td a 
{
	font-size: 12px;
	/*color: #1e457a;*/
	color: #6b6768;
	text-decoration: none;
}

.ActivateEquan
{
	width:99px;
	height:30px;
	border-style:none;
	border-width:0px;
	background:url(http://images.d1.com.cn/BuyImages/activejuan.jpg);
	cursor:pointer;
}

.SubmitOrder
{
	width:162px;
	height:56px;
	border-style:none;
	border-width:0px;
	background:url(http://images.d1.com.cn/BuyImages/SubmitOrder.jpg);
	cursor:pointer;
}

.WaitSaveMbrcst
{
	background:url(http://images.d1.com.cn/BuyImages/loading.gif);
	background-repeat:no-repeat;
}

.WaitActiveEQ
{
	width:120px;
	height:30px;
	border-style:none;
	background:url(http://images.d1.com.cn/BuyImages/loading.gif);
	background-repeat:no-repeat;
}